Package: com.imgui.fallguys
Name: Fall Guys Mod Menu
Depends: mobilesubstrate
Version: 18.0.0
Architecture: iphoneos-arm
Description: check out my iOSGods Profile for more cheats 🤍 (づ｡◕‿‿◕｡)づ https://iosgods.com/profile/6266834-iosdevice/
Maintainer: iosdevice
Author: iosdevice
